.arrowPrev,
.arrowNext {
    position: absolute;
    top: 50%;
    z-index: 5;
}

.arrowPrev {
    left: 3%;
    cursor: pointer;

    /* For larger Click Area */
    background-color: transparent;
    width: 18rem;
    height: 18rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.arrowNext {
    right: 3%;
    cursor: pointer;

    /* For larger Click Area */
    background-color: transparent;
    width: 18rem;
    height: 18rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}